nav{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid #e2decd;
    background-color: white;
    width:100%;
    height: 5%;
    border-radius: 0 0 10px 10px ;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.profile{
    width: 23px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
/* .profile:hover{
    border: 2px solid #ffaa44;
} */