.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #e2decd;
}
.lock{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}
.form_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15%;
}

.input_field{
    border-radius: 10px;
    border: 1px solid #ffaa44;
    outline: none;
    padding: 0.5em;
}
.spaced{
    margin-bottom: 5%;
}