.search_wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}
.most_searched{
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.search_menu{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    padding: 5px 0;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.e_logo{
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.search_bar{
    width: 80%;
    background-color: #fff;
    height: 1.3rem;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0 15px;
}
.search_bar::placeholder{
    text-align: center;
}
.search-item:hover{
    transition:padding 1s ease;
    border: 1px solid #ffaa44;
    border-radius: 10px;
    padding: 0 10px;
   
}